body {
  background: url('IMG2.jpg');
  position: static;
}

.transbox{
  text-align: center;
  border-width: thin;
  border-style: dotted;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  height: 90px;
  padding: 15px;
  margin: 6px;
}
h1 {font-family: cursive;
    font-style: italic;
    font-feature-settings: normal;
    font-size: 50px;
    margin: 6px;
}
h2 { margin: 6px;}
h2:before{
  content: "-----------";
}
h2::after{
  content: "-----------"}

.text{
width: 400px;
height: 700px;
border-style: double;
border-color: black;
box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
h3 {
  text-align: center;
  text-transform: capitalize;
  text-decoration-line: overline;
  text-decoration-style: double;
  font-size: 20px
}
p{
  color: white;
}
a{
  color: green;
}
